.BandName {
  color: white;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 7.5rem;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.Header_Text_Aespa {
  height: 300px;
  width: 900px;
  padding: 250px;

}
.LatestMusicVideo{
    color: rgba(255, 255, 255, 0.8);
    font-size: 83px;
}